.shops-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
  }
}
.add-to-cart-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px 60px;
}
.indicators-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.dot-shop.active {
  background-color: black;
}
.dot-shop {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.card-shop {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  img {
    width: 350px;
    height: auto;
  }
}
.card-shop.show {
  opacity: 1;
  transform: translateY(0);
}
.card-title-shop {
  width: 150%;
  color: #8c8c8c;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.card-price-shop {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}
.cardbtn-shop {
  padding: 10px 40px;
  background-color: white;
  color: blue;
  border: 2px solid blue;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0;
  &:hover {
    background-color: blue;
    color: white;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  #hot-shops {
    .container {
      .shops-title {
        h1 {
          font-size: 30px;
        }
      }
      .add-to-cart-shop {
        padding: 0;
        place-items: center;
        .card-shop {
          margin: 0;
          width: 0;
          .card-title-shop {
            font-size: 15px;
            width: 0;
            margin: 0;
          }
          .card-price-shop {
            margin: 0;
          }
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
