.sign {
  display: flex;
  background-color: #1a73e8;
}
.sign-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
  }
  .sign-text {
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    width: 75%;
  }
}
.sosial-svgs {
  display: flex;
  width: 150px;
  gap: 15px;
}
.sign-image {
  img {
    width: 300px;
  }
}
.sign-me {
  padding-left: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
  }
  input {
    padding: 15px 100px;
  }
  button {
    padding: 15px 135px;
    color: white;
    font-family: sans-serif;
    background-color: black;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  #sign-up {
    .container {
      .sign {
        display: block;
        .sign-title {
          gap: 20px;
          h2 {
            font-size: 25px;
            padding-top: 20px;
          }
        }
        .sign-image {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          img {
            width: 250px;
          }
        }
        .sign-me {
          padding-left: 0;
          padding-top: 30px;
          button {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
