@import "./layout/header";
@import "./layout/footer";
@import "./util/mixins";
@import "./util/variables";
@import "./home/categories-img";
@import "./home/advice";
@import "./home/content";
@import "./home/brand-variety";
@import "./home/shop.now";
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
