@import "./util/variables";
@import "./util/mixins";
@import "./layout/header";
@import "./home/categories-img";
@import "./home/advice";
@import "./home/content";
@import "./home/brand-variety";
@import "./home/shop.now";
@import "./home/hot-shops";
@import "./home/sign";
@import "./home/customer";
@import "./layout/footer";
@import "./partical/delivery";
@import "./partical/faqs";
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
